@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    /* ----- Colours ----- */
    --Cyan: #2AB2AF;
    --Cyan-2: #4ABEBD;
    --Lime-Green: #C0DF34;
    --Light-Grey: #E5EFF5;
    --Blueish-Grey: #98A6BD;
    --White: #fff;

    /* ----- Shadow ----- */
    --Shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-Grey);
    font-family: 'Karla';
    font-size: 0.9375rem;
}

h1, h3 {
    font-weight: 700;
    line-height: 1.5;
    margin: 0.625rem auto;
}

p {
    margin: 0.625rem auto;
    line-height: 1.8;
    font-weight: 400;
}

ul {
    list-style: none;
    line-height: 1.5;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Card ---------- */
.card {
    display: grid;
    background-color: var(--White);
    grid-template-columns: repeat(2, 1fr);
    box-shadow: var(--Shadow);
    max-width: 37.5rem;
    border-radius: 0.313rem;
    margin: 10%;
}

/* ---------- Top ---------- */
.top {
    grid-column: 1/3;
    padding: 1.875rem;
}

.title {
    color: var(--Cyan);
    font-size: 1.5rem;
}

.heading {
    color: var(--Lime-Green);
}

.intro {
    color: var(--Blueish-Grey);
} 

/* ---------- Bottom ---------- */
.bottom {
    padding: 1.875rem;
    color: var(--White);
}

/* ---------- Left ---------- */
.price {
    font-size: 2rem;
}

.rate {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Light-Grey);
    position: relative;
    bottom: 0.313rem;
}

.btn {
    background-color: var(--Lime-Green);
    display: inline-block;
    height: 3rem;
    width: 100%;
    border-radius: 0.313rem;
    border: none;
    box-shadow: var(--Shadow);
    margin-top: 0.625rem; 
    color: var(--White);
    font-weight: 700;
    font-size: 1rem;
} 

.btn:hover {
    background-color: #aac72b;
    border-color: #aac72b;
    cursor: pointer;
}

.left {
    background-color: var(--Cyan);
    border-radius: 0 0 0 0.313rem;
}

/* ---------- Right ---------- */
.right {
    background-color: var(--Cyan-2);
    border-radius: 0 0 0.313rem 0;
}

.list {
    margin-top: 0.625rem;
    color: var(--Light-Grey);
}

/* ---------- Footer ---------- */
.attribution {
    text-align: center;
    font-size: 0.688rem;
}

.attribution a {
    color: #3E52A3;
    text-decoration: none;
}

/* ---------- Media Queries ---------- */
@media only screen and (min-width: 375px) and (max-width: 700px) {

    .card {
        display: flex;
        flex-direction: column;
    }

    .left {
        border-radius: 0;
    }

    .right {
        border-radius: 0 0 0.313rem 0.313rem;
    }
    
    .container {
        margin: 10% auto;
    }

    .attribution {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

} 
